@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #000;
}

body{
    font-family: 'Poppins', sans-serif;
}

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
    margin: 0;
}

.about_main {
    padding-top: 80px;
    display: grid;
    width: 90%; /* Cambia de 90% a 100% */
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 100%; /* Cambia de 260px a 100% */
    overflow: hidden;
    margin: 0 auto;
}

.about_icon{
    width: 40px;
}